    <a href="/dashboard/edit/{{id}}">
    <article class="post card">
      <div class="title card-header">
        <h1>{{title}}</h1>
        
        {{format_date created_at}}</h2>
      </div>
      
    </article>
    </a>