<form class="login-form">
  <div>
    <label for="username-login" class="col-sm-2 col-form-label">Username:</label>
    <input type="text" id="username-login" class="form-control"/>
  </div>
  <div>
    <label for="password-login" class="col-sm-2 col-form-label">Password:</label>
    <input type="password" id="password-login" class="form-control"/>
  </div>
  <div>
    <button type="submit" class="btn">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup" class="col-sm-2 col-form-label">Username:</label>
    <input type="text" class="form-control" id="username-signup" />
  </div>
  <div>
    <label for="password-signup" class="col-sm-2 col-form-label">Password:</label>
    <input type="password" id="password-signup" class="form-control"/>
  </div>
  <div>
    <button type="submit" class="btn">Signup</button>
  </div>
</form>

<script src="/js/login.js"></script>